<% layout ('/layouts/boilerplate') -%>
<body>
    <!-- <form method="GET" action="/listing/new">
        <button>Create New Listing</button>
    </form> -->
    <h2>All Listings</h2>
    <br>
    <ul>
    <% for(list of allListing){ %>
        <li><a href="listings/<%= list.id %>"><%= list.title %></a></li>
    <% } %>
    </ul>
</body>

